.body {
    background-color:darkgray;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/78/06/seamless-spring-floral-background-vector-2077806.jpg);
}
.title {
    text-align: center;
    border: 1px solid black;
    background-color: rgba(240, 248, 255, 0.733);
}

.main {
    border: 1px solid black;
    width: 50%;
    margin: auto;
    background-color: rgba(240, 248, 255, 0.644);
}

#add-item {
    background-color: rgba(240, 248, 255, 0.637);
    border: 1px solid black;
    
}

.input {
    background-color: rgba(233, 150, 122, 0.562);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

